<!-- include css files here -->
<link rel="stylesheet" href="/stylesheets/index.css">

<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- sort -->
<div class="container mt-3">
  <div class="input-group d-flex justify-content-center">
    <form class="d-flex" action="/sort">
      <select class="form-select-item" id="item" name="item">
        <option value="name">Sort by name</option>
        <option value="category">Sort by category</option>
        <option value="location">Sort by location</option>
      </select>
      <select class="form-select-order" id="order" name="order">
        <option value="asc">Ascend</option>
        <option value="desc">Descend</option>
      </select>
      <div class="input-group-append">
        <button class="btn btn-major" type="submit" id="sort-button"><i class="fa-solid fa-sort"></i></button>
      </div>
    </form>
  </div>
</div>
<!-- Render restaurant list -->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurants}}
        <div class="card-container">
          <a href="/restaurants/{{ this._id }}" class="text-secondary">
            <div class="card mb-2">
              <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{ this.name }}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{ this.category }}
                </div>
                <span class="badge badge-pill bg-warning font-weight-normal">
                  {{ this.rating }}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
              <div class="card-footer d-flex justify-content-evenly align-items-center">
                <a href="/restaurants/{{ this._id }}/edit">Edit</a>
                <a href="/restaurants/{{ this._id }}">Detail</a>
                <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST" style="display: inline">
                  <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
              </div>
            </div>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>